mixin blog(articles)
    section.blog-content.blog
        .blog-content__left
            aside.blog__article-titles#blog__article-titles
                ul.blog__article-list#blog__article-list
                    each article, index in articles
                        li(id=`${index}`).blog__article-title
                            a(href=`#${article.title}`).blog__article-link= article.title

                .blog__article-adaptive-btn#blog__article-adaptive-btn

        .blog-content__right
            each article, index in articles
                a(name=`${article.title}`)
                .blog__article(data-idtitle=`${index}`)
                    .blog__title= article.title
                    .blog__date= article.date
                    .blog__text.simple-text= article.body

                    a(href='#null', onclick=`openWin2("${article.title}")`).blog__share-link Поділитися

        script.
            function openWin2(title) {
            myWin=open(`http://www.facebook.com/sharer.php?u=https://www.wiband.rocks/blog#${title}`,"displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
            }
