block variables

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")

        meta(name='description' content="Rock band from Ukraine")
        meta(name="keywords" content="Rock,Metal,Ukrainian,wiband,штучнийінтелект,рок,метал,українське,український")

        meta(property='og:title', content='Штучний Інтелект')
        meta(property='og:type', content='website')
        meta(property='og:url', content='https://www.wiband.rocks/')
        meta(property='og:image' itemprop="image primaryImageOfPage" content='https://www.wiband.rocks/images/lechu-share.jpg')
        meta(property='og:site_name', content='wiband.rocks')
        meta(property='og:description', content='Rock band from Ukraine')

        link(rel='shortcut icon' href='/images/favicon.ico')

        title
            block page-title
        link(rel="stylesheet" href='/build/style/foundation.css')
        link(rel="stylesheet" href='/build/style/style.css?2')

        //- Google Tag Manager
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PH5NPCL');
        //- End Google Tag Manager

    body
        //- Google Tag Manager (noscript)
        //noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PH5NPCL', height='0', width='0', style='display:none;visibility:hidden')
        //- End Google Tag Manager (noscript)

        block page

        include ./footer
        +footer()

        script.
            function shareOnFacebook(page) {
            console.log('page', page);
            myWin=open("http://www.facebook.com/sharer.php?u=https://www.wiband.rocks"+page,"displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
            }
        script(src='/build/js/foundation.js')
        //- script(src='js/main.js')
        script(src='/build/js/blog.js')
